{% extends 'base.html' %}

{% load static %}
   

{% block content %}





<div class="container-fulid">
    <div class="container">
        <div class="row aboutMain">
            <div class="col-md-4">
                <div class="aboutLeft">
                    <center>
                        <h3><strong>Biography</strong></h3>
                    </center>

                    <p>
                        Our hostels are located in some of the most popular destinations in the world, including 
                        major cities and popular tourist spots. We strive to provide a safe and clean environment 
                        for our guests, with a range of amenities including shared kitchen and dining areas, common rooms, 
                        and on-site laundry facilities.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="aboutRight">
                    
                    <h3>About</h3>
                    <p>
                        Welcome to our hostels, apartments and office rooms rentals website. We are a team of students and alumni who have come together to create a comfortable 
                        and affordable accommodation option for students in all universities in Ghana. The CEO of this project is Jedidiah Apenteng, he is an alumni of University 
                        of Ghana and has served on many leadership roles at the student font. In his last academic year ( 2021-2022) on campus he served under several portfolios 
                        like the vice chair of the UGSRC arbitration committee , the Vice President of WASHSOSA UG chapter, the deputy welfare committee head of Mensah Sarbah hall 
                        and the P.R.O of Association of philosophy and classics. <br><br> 

                        This website aims to serves as a link between private hostels and students. Our hostels are located in some of the most popular destinations on university 
                        campuses, including major secured and short-distance locations. We strive to provide a safe, serene and tidy environment for our guests, with a range of 
                        amenities including shared kitchen and dining areas, study areas, common rooms, reliable security and laundry facilities.<br><br>

                        We have reservations for workers and students looking for apartments and offices to rent, and many other issues concerning accommodation, and visiting 
                        parents, guardians and prospective wards are warmly welcome to visit our offices.  <br><br>

                        We believe that hostel, apartment and office rooms are a basic necessity of students, workers, organizations and businesses life. Consequently , we do 
                        our best to offer a variety of activities and events to enable our guests make the most of their university experience.<br><br>

                        We have also made reservations for workers who may want apartments, Office rooms and general accommodation issues. We are always available to answer any 
                        questions or concerns you may have, and we are happy to help you plan your stay and make the most of your stay with us.<br><br>

                        Thank you for choosing to stay with us. We look forward to welcoming you to one of our hostels and helping you create unforgettable memories. <br><br>

                        Your secured accommodation portal.<br><br>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>








<!-- footer section -->
{% include 'footer.html' %}

{% endblock %}