{% extends 'base.html' %}

{% load static %}
   

{% block content %}

    <div class="contactPageContainer">
        <div class="contact-box">
            <!-- condition if there is a message or not -->
            {% if client_name %}
           
            <center>
                <h2> Thanks {{ client_name }}</h2>
                <p>We received your email and will respond shortly...</p>
            </center>
            <br>
            <br>
            {% else %}
            
                <div class="left">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7940.882692123299!2d-0.1882739606206148!3d5.649109261901293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c7e6c03a39f%3A0x3aa7d4501b01d8fa!2sLegon%20Hall!5e0!3m2!1sen!2sgh!4v1668166915413!5m2!1sen!2sgh" 
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="right">
                    <form action="{% url 'rental:contactUs' %}" method="post">
                    {% csrf_token %}
                        <h2>Contact Us</h2>
                        <input name="message-name" type="text" class="field" placeholder="Your Name" autocomplete="off">
                        <input name="message-email" type="email" class="field" placeholder="Your Email" autocomplete="off">
                        <input name="message-phone" type="text" class="field" placeholder="Your Phone" autocomplete="off">
                        <textarea name="message-text" class="field area" id="" placeholder="Message" autocomplete="off"></textarea>
                        <button class="">Send</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>




<!-- footer section -->
{% include 'footer.html' %}

{% endblock %}