

<!--information section-->
<div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="contactInfo">
            <h5>
              Contact Information
            </h5>
            <div class="icons">
              <i class="fa-solid fa-location-dot"></i>
              <p>University of Ghana main campus</p>
            </div>
            <div>
              <div class="icons">
                <i class="fa-solid fa-phone"></i>
                <i class="fa-brands fa-whatsapp"></i>
              </div>
              <p>
                +233 599906240 <br>
                +233 201492986
              </p>
            </div>
            <div>
              <div class="icons">
                <i class="fa-regular fa-envelope"></i>
              </div>
              <p>
                lhilgold100@gmail.com
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="">
            <h5>
              Information
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="">
            
            <h5>
              Useful Link
            </h5>
  
            <ul class="footerList">
              <li>
                <a href="{% url 'rental:index' %}">
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'rental:aboutUs' %}">
                  About
                </a>
              </li>
              <li>
                <a href="{% url 'rental:contactUs' %}">
                  Contact us
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-md-3">
          <div>
            
            <h5>
              Payment Mode
            </h5>
            
            <div class="paymentMode">
              <ul class="footerList">
                <li>MoMO Pay</li>
                <li>Bank Payment</li>
                <li>Cash Payment</li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>  

<!-- footer-->
<div class="container-fluid footerEnd">
    <p>
      &copy; <span id="displayYear"></span> | All Rights Reserved 
    </p>
</div>
