{% extends 'base.html' %}

{% load static %}
   

{% block content %}
    

<!--heading-->
<div class="main-heading container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Online</h1>
        <h1>Accomodation</h1>
        <p>
          Rooms available for students at <span class="headline">UG, GIMPA, UPSA, WISCONSIN</span>
        </p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<!--about-->

<div class="container">
  <div>
    <h1 class="title">About us</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
        <img class="img_pics" src="{% static 'images/about-img.jpg' %}" alt="">
    </div>
    <div class="col-md-6">
          <div class="heading_container">
              <h2>
                  About Our Apartment
              </h2>
          </div>
          <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in
              some form, by injected humour, or randomised words
          </p>
          <a href="">
              Read More
          </a>
    </div>
  </div>
</div>

<!--Available categories-->
<div class="container">
  <h1 class="title">
    Categories
  </h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/s-1.jpg' %}" class="card-img-top img_pics" alt="...">
        <div class="card-body">
          <h5 class="card-title">4 in One</h5>
          <p class="card-text">T&C Read...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <ul>
              <li>3 mins walk from UG</li>
              
              <li>2 mins walk from UPSA</li>
              
              <li>8 mins walk from GIMPA</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img  src="{% static 'images/s-4.jpg' %}" class="card-img-top img_pics" alt="...">
        <div class="card-body">
          <h5 class="card-title">3 in One</h5>
          <p class="card-text">T&C Read...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <ul>
              <li>3 mins walk from UG</li>
              
              <li>2 mins walk from UPSA</li>
              
              <li>8 mins walk from GIMPA</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/s-3.jpg' %}" class="card-img-top img_pics" alt="...">
        <div class="card-body">
          <h5 class="card-title">2 in One</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/s-2.jpg' %}" class="card-img-top img_pics" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luxery</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--records and awards-->
<div class="container-fluid why_us">
  <div class="container">
    <h2 class="..title">
        Why Choose Us
    </h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="box">
          <div class="img-box">
              <img src="{% static 'images/u-1.png' %}" alt="">
          </div>
          <div class="detail-box">
              <h3 class="price">
              100+
              </h3>
              <h5>
              Years of House
              </h5>
          </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="box">
          <div class="img-box">
              <img src="{% static 'images/u-2.png' %}" alt="">
          </div>
          <div class="detail-box">
              <h3>
              2000+
              </h3>
              <h5>
              Positive Delivered
              </h5>
          </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="box">
          <div class="img-box">
              <img src="{% static 'images/u-3.png' %}" alt="">
          </div>
          <div class="detail-box">
              <h3>
              10000+
              </h3>
              <h5>
              Satisfied Customers
              </h5>
          </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
                <img src="{% static 'images/u-4.png' %}" alt="">
            </div>
            <div class="detail-box">
                <h3>
                1500+
                </h3>
                <h5>
                Cheap Rates
                </h5>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Testimonials-->
<div class="container-fluid testimonials">
    <h1 class="title">
        Clients Feedback
    </h1>
    
    <div class="row card-group">
      <div class="col-md-4">
        <div class="testimonialCard">
          <p>
            <span class="quotationMark">"</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, possimus? Expedita laudantium cupiditate tempora et dolores, 
            voluptatibus consectetur illo. Iusto debitis vero autem commodi ipsam quo iste laudantium, aut natus.
          </p>
          
          <div class="testimonialFooter">
            <img class="testimonialImage" src="{% static '/images/client.jpg' %}" alt="...">
            <div class="nameTitle">
              <h6>- Jonas Monyo</h6>
              <div class="sub-text">Student, UG</div>  
            </div>          
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="testimonialCard">
          <p>
            <span class="quotationMark">"</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, possimus? Expedita laudantium cupiditate tempora et dolores, 
            voluptatibus consectetur illo. Iusto debitis vero autem commodi ipsam quo iste laudantium, aut natus.
          </p>
          
          <div class="testimonialFooter">
            <img class="testimonialImage" src="{% static '/images/client.jpg' %}" alt="...">
            <div class="nameTitle">
              <h6>- Jonas Monyo</h6>
              <div class="sub-text">Student, UG</div>  
            </div>          
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="testimonialCard">
          <p>
            <span class="quotationMark">"</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, possimus? Expedita laudantium cupiditate tempora et dolores, 
            voluptatibus consectetur illo. Iusto debitis vero autem commodi ipsam quo iste laudantium, aut natus.
          </p>
          
          <div class="testimonialFooter">
            <img class="testimonialImage" src="{% static '/images/client.jpg' %}" alt="...">
            <div class="nameTitle">
              <h6>- Jonas Monyo</h6>
              <div class="sub-text">Student, UG</div>  
            </div>          
          </div>
        </div>
      </div>

    </div>
    
</div>

<!---Contact us-->
<div class="container-fluid">
  <h1 class="title">
    Get In Touch
  </h1>

  <div class="row">
    <div class="col-md-6">
        <div class="map-responsive map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7940.882692123299!2d-0.1882739606206148!3d5.649109261901293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9c7e6c03a39f%3A0x3aa7d4501b01d8fa!2sLegon%20Hall!5e0!3m2!1sen!2sgh!4v1668166915413!5m2!1sen!2sgh" 
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <!--contact forms-->
    <div class="col-md-5 ">        
      <div class="form_container">
        <form action="">
          <div>
            <input type="text" placeholder="Name" autocomplete="off"/>
          </div>
          <div>
            <input type="email" placeholder="Email" autocomplete="off"/>
          </div>
          <div>
            <input type="text" placeholder="Phone Number" autocomplete="off"/>
          </div>
          <div>
            <textarea name="message_box" id="" cols="30" rows="3" autocomplete="off"></textarea>
          </div>
          <div>
            <button>Send</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<!-- footer section -->
{% include 'footer.html' %}


{% endblock %}

