

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: system-ui;
}

.main-heading {
    color: white;
    background-color: #0B2C3D;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/heading-bg.jpg);
    /*background-blend-mode: multiply;*/
    padding: 200px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid #CB3421;
}

li {
    list-style: none;
}

/* NAVBAR */

nav {
    flex: 1;
    text-align: left;
    background-color: #0B2C3D;
}

.navbar a  {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
}


/*main content*/

.row {
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 14px;
}

/* .content {
    text-align: center;    
    padding: 50px 0px;
} */

.title {
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: bold;
    color: #0B2C3D;
    text-align: center;  

}

.img_pics {
    width: 100%;
}

.why_us {
    background-color: #0B2C3D;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 30px 0;
}

.testimonials {
    background-color: #fcf4f3;
}


/* map container */
.map_container {
    box-shadow: 10px 10px;
}
.map {
    width: 100%;
    height: 100%;
    /* background-color: #CB3421; */
    text-align: center;
}

/* contact us */

.form_container {
    /* background-color: #0B2C3D; */
    text-align: center;
    margin: 10px;
}

input, textarea {    
    color: white;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CB3421;
    /* border-radius: 10px; */
}

input:focus, 
textarea:focus {
    color: rgb(0, 0, 0);
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CB3421;
    /* border-radius: 10px; */

}

button {
    --color: #CB3421;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #CB3421;
    transition: background 0s;
   }





.footer {
    background-color: #0B2C3D;
    color: white;
    text-align: center;
}