@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: auto;
    background-color:#02354f0e;
}

.main-heading {
    color: white;
    background-color: #0B2C3D;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/heading-bg.jpg);
    /* background-blend-mode: difference; */
    padding: 200px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    color: #CB3421;
    font-size: inherit;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid #CB3421;
}

li {
    list-style: none;
}

/* NAVBAR */

nav {
    flex: 1;
    text-align: left;
    background-color: #0B2C3D;
}

.navbar a  {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    color: white;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
}


/*main content*/

.row {
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 80%;
 }

p {
    font-size: 14px;
}

/* .content {
    text-align: center;    
    padding: 50px 0px;
} */

.title {
    font-size: 250%;
    padding: 40px 0;
    padding-bottom: 30px;
    font-weight: bold;
    color: #0B2C3D;
    text-align: center;  

}

.img_pics {
    width: 100%;
}

.why_us {
    background-color: #0B2C3D;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin-top: 30px;
}

/* Testimonials */
.testimonials {
    background-color: #fcf4f3;
    padding-top: 10px;
}

.card-group {
    padding: 0 10px;
}

.testimonialCard {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}

.quotationMark {
    font-size: 300%;
    font-weight: bold;
    color: #CB3421;
}

.testimonialFooter {
    display: flex;
    align-items: center;   

}
.testimonialImage {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.nameTitle {
    display: block;
    font-weight: bold;
}
.sub-text{
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-left: 10px;
}

/* map container */
.map_container {
    box-shadow: 10px 10px;
}
.map {
    width: 100%;
    height: 100%;
    /* background-color: #CB3421; */
    text-align: center;
}

/* contact us */

.form_container {
    /* background-color: #0B2C3D; */
    text-align: center;
    margin: 10px;
}

input, textarea {    
    color: white;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CB3421;
    /* border-radius: 10px; */
}

input:focus, 
textarea:focus {
    color: rgb(0, 0, 0);
    margin: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CB3421;
    /* border-radius: 10px; */

}

button {
    --color: #CB3421;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #CB3421;
    transition: background 0s;
   }


   /* contact us page */
.contactPageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.contactPageContainer::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: url('../images/contactus-bg.png') no-repeat center; */
    background-size: cover;
    z-index: -1;
    filter: blur(20px);
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    height: 100%;
    background: url('../images/contactus-bg.png') no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

    /* creating underline */
h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: red;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.area{
    min-height: 150px;
}

@media screen and (max-width:880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}


/* About Page */

.aboutMain{
    margin: 50px 50px;
    color: #02354f;
    /* text-transform: uppercase; */
}
.aboutLeft{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.aboutRight{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
}


/* Hostels Page */

.hostel-links{
    display: flex;
    justify-content: space-between;
}

.hostel-links a {
    color: #CB3421;
    text-decoration: none;

}

.hostel-links a:hover, a:active {
    text-decoration: none;
    border: none;
    color: #0B2C3D;
    font-weight: bolder;
}


/* 3-in-1 gallery */

.threeInOneGallery {
    gap: 10px;

}

.threeInOneGallery, a,  a:hover {
    border: none;
    cursor: pointer;
}























/* footer */
.footer {
    background-color: #0B2C3D;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h5{
    font-weight: bold;
    color: #CB3421;
}

.footer>a{
    color: white;
    text-decoration: none;
}

.footerList {
    padding: 0;
}

.footerEnd {
    background-color: #02354f;
    color: white;
    text-align: center;
    padding: 10px 0;
}